#profile-detail {
  #profile-image-column {
    padding: 30px 60px;
  }

  @media screen and (min-width: 576px) {
    #profile-image-column {
      padding: 0 15px;
    }
  }

  // Styles for responsive square image
  // https://spin.atomicobject.com/2015/07/14/css-responsive-square/
  #profile-image-wrapper {
    position: relative;
    width: 100%;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: filter 0.2s ease-out;
    }
  }

  #profile-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#profile-posts {
  .col {
    padding: 1vw;
  }

  .card {
    height: 100%;
    width: 100%;
    position: relative;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    .card-img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
