@import '../../shared/variables.scss';

// Main Navigation Styles
#main-navigation {
  // Styles for links in the main navigation
  a {
    border-radius: 4px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #f6f6f6;
      color: $primaryColor;
    }

    &.active {
      font-weight: bold;
      background-color: transparentize($color: $primaryColor, $amount: 0.8);
    }

    &.pending {
      font-weight: bold;
    }

    @media screen and (min-width: 500px) {
      &.active {
        background-color: white;
      }
    }
  }

  // Style for the user profile link in the main navigation
  #nav-user {
    display: flex;
    align-items: center;
    width: 100%;

    #nav-avatar {
      margin-right: 15px;
      font-size: 1.3rem;
      height: 1.25em;
      min-width: 1.25em;
      border-radius: 50%;
      background-position: 50%;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Styles for icons in the main navigation
  i {
    margin-right: 15px;
    font-size: 1.3rem;
  }
}
