@import '../../shared/variables.scss';

#main-navigation {
  a {
    border-radius: 4px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #f6f6f6;
    }

    &.active {
      font-weight: bold;
      background-color: transparentize($color: $primaryColor, $amount: 0.8);
    }

    &.pending {
      font-weight: bold;
    }

    @media screen and (min-width: 500px) {
      &.active {
        background-color: white
      }
    }
  }

  #nav-user {
    display: flex;
    align-items: center;
    width: 100%;

    img#nav-avatar {
      height: 1.25em;
      object-fit: cover;
      border-radius: 50%;
    }

    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  i, img {
    margin-right: 15px;
    font-size: 1.3rem;
  }
}
