@import 'shared/variables.scss';

// Bootstrap Overwrites
$theme-colors: (
  'primary': $primaryColor,
);

$enable-gradients: true;

@import 'bootstrap/scss/bootstrap';

// Default styling for elements
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

// Custom utility classes

.c-pointer {
  cursor: pointer;
}

.mw-300 {
  max-width: 300px;
}

.mw-600 {
  max-width: 600px;
}

.mw-800 {
  max-width: 800px;
}
