@import 'shared/variables.scss';

$theme-colors: (
    "primary": $primaryColor,
);


@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

